a {
  background-color: red;
  border-radius: 10px;
  height: 100%;
}
a:hover {
  cursor: pointer;
  scale: 1.06;
}
section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

section img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
