<a [routerLink]="['']">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M9 14l-4 -4l4 -4" />
    <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
  </svg>
  Back
</a>

@if(userQuery.isLoading()){
<p class="center-item">Loading...</p>
} @else if (userQuery.isError()) {
<span>Error: {{ userQuery.error().message }}</span> }@else {
<section>
  <article>
    <img
      alt="{{ userQuery.data()?.name }}"
      [src]="userQuery.data()?.image ?? ''"
      priority=""
      width="100"
      height="200"
    />
    <section>
      <h1>{{ userQuery.data()?.name }}</h1>
      <p>{{ userQuery.data()?.phone }}</p>
      <div>
        <button (click)="openModal()">Edit</button>
        <button (click)="deleteUser(userQuery.data()?.id ?? '')">
          {{ deleteUserMutation.isPending() ? "Deleting..." : "Delete" }}
        </button>

        @if(showModal){
        <app-modal (close)="closeModal()" titleModal="Update User">
          <app-form [items]="userQuery.data()" (close)="closeModal()" />
        </app-modal>
        }
      </div>
    </section>
  </article>
  <hr />
  <b>{{ userQuery.data()?.text }}</b>
  <p>{{ userQuery.data()?.description }}</p>
</section>
}
