<div class="mt-6">
  <header>
    <h1>Users</h1>
    <input
      (keyup)="applyFilter($event)"
      [value]="search()"
      placeholder="Search"
    />
  </header>

  <button (click)="openModal()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 5l0 14" />
      <path d="M5 12l14 0" />
    </svg>
    Add User
  </button>

  @if (showModal) {
  <app-modal (close)="closeModal()" titleModal="Create User">
    <app-form (close)="closeModal()" />
  </app-modal>
  } @if(userQuery.isLoading()){
  <div class="center-item">Loading ...</div>
  }
  <button
    [disabled]="!this.userQuery.data()?.info.prev"
    (click)="loadMore({ isNextPage: false })"
  >
    Previous Page
  </button>
  <button
    [disabled]="!this.userQuery.data()?.info.next"
    (click)="loadMore({ isNextPage: true })"
  >
    Next Page
  </button>
  <section>
    @for(user of userQuery.data()?.results; track user.id){
    <app-card-item [user]="user" />
    } @empty { @if(!userQuery.isLoading()){
    <div class="center-item">Data not found</div>
    } }
  </section>
</div>
